.app-page {
    &__header {
        position: relative;
        z-index: 900;
        height: 64px;
        transform: translateZ(0.1px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $base-dark;
        color: $third-light;
        transition: transform ease-in .5s,-webkit-transform ease-in .5s;
        &__wrapper {
            max-width: 1440px;
            padding:0 24px;
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            width: 100%;
        }
    }

    &__content {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    &__footer {
        position: relative;
        background-color: $base-dark;
        color: $third-light;
    }
}