@import 'src/styles/colors';
.btn {
    padding: 1.2rem 2rem;

    cursor: pointer;
    border-radius: 1.2rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: auto;
    margin-top: 3rem;
    font-size: 1.4rem;
}
