@font-face {
    font-family: 'Avenir';
    src:
        url('../fonts/AvenirLTW02-45Book.woff2') format('woff2'),
        url('../fonts/AvenirLTW02-45Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src:
        url('../fonts/AvenirLTW02-95Black.woff2') format('woff2'),
        url('../fonts/AvenirLTW02-95Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src:
        url('../fonts/AvenirLTW02-65Medium.woff2') format('woff2'),
        url('../fonts/AvenirLTW02-65Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

$base-font-family: 'Avenir', arial, helvetica, sans-serif;
$base-font-size: 1.6rem;
$base-line-height: 2.2rem;
