@import 'reset';

@import 'colors';
@import 'mixins';
@import 'fonts';

@import 'base';
@import 'layout';
@import 'vendor';

html,
body {
    height: 100%;
    font-family: $base-font-family;
    font-size: 62.5%;
    background: $primary-dark;
    color: $on-base;
}

body {
    font-size: $base-font-size;
    line-height: $base-line-height;
}
/*Alternative Theme*/
.theme-dark {
    body {
        background: $primary;
        color: $on-primary;
    }
}
