@import 'src/styles/colors';

.topBar {
    background: $on-base;
    position: relative;
    z-index: 10;
    &__options {
        height: 3.5rem;
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
    }
}
