@import 'src/styles/colors';

.bigBlock {
    padding: 2rem 0;
    background: $primary-dark;
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    &__block {
        min-width: 40%;
        padding: 0 7.5%;
        height: 47.4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__contentWrap {
        border-top-right-radius: 3.2rem;
        border-bottom-right-radius: 3.2rem;
        background-color: $base-dark;
        h1 {
            line-height: 7.5rem;
            font-weight: 800;
            font-size: 5.6rem;
            color: $primary-dark;
        }
    }
    &__imageWrap {
        position: relative;
        overflow: hidden;
        border-top-left-radius: 3.2rem;
        border-bottom-left-radius: 3.2rem;
        img {
            border-top-left-radius: 3.2rem;
            border-bottom-left-radius: 3.2rem;
            min-width: 100%;
            display: block;
            position: absolute;
            left: 0;
            object-fit: cover;
        }
    }
}

.btnCommon {
    color: $on-primary;
    background-color: $primary-dark;
}
